<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>
 
<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
<title>Mónica Vélez Portfolio</title>  
 
<meta name="description" content="Insert Your Site Description" />
 
<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>  
 
<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
 
<!-- Bootstrap -->
<link href="_include/css/bootstrap.min.css" rel="stylesheet">
 
<!-- Main Style -->
<link href="_include/css/main.css" rel="stylesheet">
 
<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">
 
<!-- FancyBox -->
<link href="_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">
 
<!-- Font Icons -->
<link href="_include/css/fonts.css" rel="stylesheet">
 
<!-- Shortcodes -->
<link href="_include/css/shortcodes.css" rel="stylesheet">
 
<!-- Responsive -->
<link href="_include/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="_include/css/responsive.css" rel="stylesheet">
 
<!-- Supersized -->
<link href="_include/css/supersized.css" rel="stylesheet">
<link href="_include/css/supersized.shutter.css" rel="stylesheet">
 
<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900' rel='stylesheet' type='text/css'>
 
<!-- Fav Icon -->
<link rel="shortcut icon" href="#">
 
<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">
 
<link rel="stylesheet" type="text/css" href="css/demo.css" />
   
<!-- Modernizr -->
<script src="_include/js/modernizr.js"></script>
 
<!-- Analytics -->
<script type="text/javascript">
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'Insert Your Code']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script>
<!-- End Analytics -->
 
</head>
 
 
<body>
 
<!-- This section is for Splash Screen -->
<div class="ole">
<section id="jSplash">
        <div id="circle"></div>
</section>
</div>
<!-- End of Splash Screen -->
 
<!-- Header -->
<header>
    <div class="sticky-nav">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
       
        <div id="logo">
                <a id="goUp" href="index.html" class="external" title="Mónica Vélez Portfolio">Mónica Vélez</a>
        </div>
       
        <nav id="menu">
                <ul id="menu-nav">
                <li><a href="index.html#work" class="external">Volver al portafolio</a></li>
                <li><a href="#about">Sobre mí</a></li>
                <li><a href="#contact">Contáctame</a></li>
            </ul>
        </nav>
       
    </div>
</header>
<!-- End Header -->
 
<!-- Our Work Section -->
<div id="work" class="page">
        <div class="container">
        <!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">FastDown</h2>
                    <h3 class="title-description">Formalización conceptual de la tendencia Fast Down, en el universo leisure were. Diseñadora: Mónica Vélez.</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->  
       
        <!-- Portfolio Projects -->
        <div class="row">
            <div class="span12">
                <div class="row">
                        <section id="projects">
                        <ul id="thumbs">
                       
                                                        <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 dv">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="FastDown" href="_include/img/work/full/fastdown.jpg">
                                        <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/fast-life.jpg" alt="">
                            </li>
                                <!-- End Item Project -->
                           
                                                        <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 dv">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="FastDown" href="_include/img/work/full/fastdown-2.jpg">
                                        <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/fastdown-2.jpg" alt="">
                            </li>
                                <!-- End Item Project -->
                           
                                                        <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photos">
                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="FastDown" href="_include/img/work/full/fastdown-3.jpg">
                                        <span class="overlay-img"></span>
                                    <span class="overlay-img-thumb font-icon-plus"></span>
                                </a>
                                <!-- Thumb Image and Description -->
                                <img src="_include/img/work/thumbs/fastdown-3.jpg" alt="">
                            </li>
                                <!-- End Item Project -->
                        </ul>
                    </section>
                   
                </div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Work Section -->  
<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Acerca de mí</h2>
                <h3 class="title-description">Soy estudiante de Diseño de Vestuario, actualmente curso décimo semestre. Considero que el diseño está llamado a solucionar necesidades reales; problemáticas sociales, culturales y discapacitantes a través de la creación de objetos y proyectos, razón por la cual el profesional debe ser interdisciplinario, critico y curioso.</h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
    
<!-- People -->
    <div class="row-fluid">
          <div class="offset3 span3 offset3">
              <img src="_include/img/profile/monica-velez-designer-570.jpg">
            </div>
        </div>
    <br>
   
    <div class="row">          
        <!-- Start Profile -->
        <div class="offset2 span4 profile">
                <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Como profesional</span>
                </div>
                <img src="_include/img/profile/monica-velez-profesional.jpg" alt="Ser Profesional">
            </div>
            <h3 class="profile-name">Como Profesional</h3>
            <p class="profile-description"> Tengo habilidades en programas de diseño (illustrator, photoshop, indesing y premiere), además de procesos de conceptualización, diseño de piezas gráficas y vestimentarias, manejo de redes, fotografía, ilustración y figurines, administración web, investigación y análisis de usuario, comunicación de marca y mercadeo.</p>
        </div>
        <!-- End Profile -->
       
        <!-- Start Profile -->
        <div class="span4 profile">
                <div class="image-wrap">
                <div class="hover-wrap">
                    <span class="overlay-img"></span>
                    <span class="overlay-text-thumb">Como ser social</span>
                </div>
                <img src="_include/img/profile/monica-velez-ser-de-luz.jpg" alt="Ser social">
            </div>
            <h3 class="profile-name">Como ser social</h3>
            <p class="profile-description">Soy una persona que ama aprender cosas nuevas, proactiva y atenta a nuevos conocimientos, y la aplicación de estos en la práctica; además procuro que mis acciones cotidianas ayuden y sirvan a otras personas, y en esta medida trabajo en proyectos de voluntariado y otras acciones sociales. </p>
        </div>
        <!-- End Profile -->
       
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->
 
 
<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Contáctame</h2>
                <h3 class="title-description">Un diseñador debe de estar siempre atento y dispuesto a nuevos retos ;) </h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->
   
    <!-- Contact Form -->
    <div class="row">
        <div class="span9">
       
                <form id="contact-form" class="contact-form" action="#">
                <p class="contact-name">
                        <input id="contact_name" type="text" placeholder="Nombre Completo" value="" name="name" />
                </p>
                <p class="contact-email">
                        <input id="contact_email" type="text" placeholder="Correo de contácto" value="" name="email" />
                </p>
                <p class="contact-message">
                        <textarea id="contact_message" placeholder="¿Cómo te puedo ayudar?" name="message" rows="15" cols="40"></textarea>
                </p>
                <p class="contact-submit">
                        <a id="contact-submit" class="submit" href="#">Envía el mensaje</a>
                </p>
               
                <div id="response">
               
                </div>
            </form>
         
        </div>
       
        <div class="span3">
                <div class="contact-details">
                        <h3>Contact Details</h3>
                <ul>
                    <li><a href="#">monikmvelez@gmail.com</a></li>
                    <li>(300) 239-83-51</li>
                    <li>
                        Medellín
                        <br>
                        Antioquia
                        <br>
                        Colombia
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Contact Form -->
</div>
</div>
<!-- End Contact Section -->
<!-- Socialize -->
<div id="social-area" class="page">
        <div class="container">
        <div class="row">
            <div class="span12">
                <nav id="social">
                    <ul>
                        <!--<li><a href="http://www.behance.net/" title="Follow Me on Behance" target="_blank"><span class="font-icon-social-behance"></span></a></li>-->
                        <li><a href="https://www.facebook.com/monikmvelez" title="Sígueme en Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="https://plus.google.com/u/0/103844848211504174115/posts" title="Sígueme en Google +" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                        <li><a href="https://www.linkedin.com/pub/m%C3%B3nica-v%C3%A9lez/b6/821/353" title="Sígueme LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Socialize -->
 
<!-- Footer -->
<footer>
        <p class="credits">&copy;2015 <a href="#" title="Mónica Vélez Portfolio">Portfolio</a> by <a href="http://www.alessioatzeni.com/" title="Mónica Vélez | Web Designer &amp; Front-end Developer">Mónica Vélez</a></p>
</footer>
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

 
<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="_include/js/supersized.3.2.7.min.js"></script> <!-- Slider -->
<script src="_include/js/waypoints.js"></script> <!-- WayPoints -->
<script src="_include/js/waypoints-sticky.js"></script> <!-- Waypoints for Header -->
<script src="_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="_include/js/plugins.js"></script> <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
<script src="_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->
 
</body>
</html>